In [1]:
#!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\juan_\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

In [3]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [5]:
engine = create_engine(connection_string)

In [7]:
query = 'SELECT * FROM prescriber'

In [9]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

1.Which Tennessee counties had a disproportionately high number of opioid prescriptions?

2.Who are the top opioid prescibers for the state of Tennessee?

In [16]:
question_2 = '''
SELECT prescriber.npi
	  ,CONCAT(prescriber.nppes_provider_first_name,' ',prescriber.nppes_provider_last_org_name) AS full_name
	  ,COUNT(drug.opioid_drug_flag) AS total_opioids
FROM prescriber
	INNER JOIN prescription
		USING(npi)
	INNER JOIN drug
		USING(drug_name)
WHERE drug.opioid_drug_flag ILIKE 'Y'
	AND prescriber.nppes_provider_state ILIKE 'TN'
GROUP BY prescriber.npi
	,prescriber.nppes_provider_first_name
	,prescriber.nppes_provider_last_org_name
order by total_opioids DESC
LIMIT 3;
'''

In [18]:
with engine.connect() as connection:
    answer_2 = pd.read_sql(text(question_2), con = connection)

answer_2

            npi         full_name  total_opioids
0  1.376715e+09   RACHEL FORSYTHE             21
1  1.538428e+09  MICHELLE PAINTER             21
2  1.619239e+09     BRENDA BAILEY             21

3.What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?

In [20]:
prescriber[descrption_flag]

NameError: name 'prescriber' is not defined

4.Is there an association between rates of opioid prescriptions and overdose deaths by county?

5.Is there any association between a particular type of opioid and number of overdose deaths?