In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [87]:
#!pip install psycopg2-binary

In [89]:
#!pip install psycopg2

In [91]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [94]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [97]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [100]:
import pandas as pd

First, let's write a meaningful query.

In [103]:
query = 'SELECT * FROM prescriber'

Now, bring it all together using the following syntax.

In [129]:
query = '''
WITH max_zips AS (
	SELECT DISTINCT zip
		, MAX(tot_ratio) as max_ratio
	FROM zip_fips
	GROUP BY zip
)
, sort_fips AS (	
	SELECT zip_fips.zip
		, zip_fips.fipscounty
		, zip_fips.tot_ratio
	FROM zip_fips
		INNER JOIN max_zips
			ON zip_fips.zip = max_zips.zip
			AND zip_fips.tot_ratio = max_zips.max_ratio
)
SELECT
    fc.county,
    SUM(p.total_claim_count) AS total_opioid_prescriptions,
    pop.population,
    (SUM(p.total_claim_count) * 1.0 / pop.population) AS prescriptions_per_capita
FROM
    prescription p
JOIN 
	prescriber pre USING(npi)
JOIN
    drug d ON p.drug_name = d.drug_name
JOIN
    sort_fips sf ON pre.nppes_provider_zip5 = sf.zip
JOIN
    fips_county fc ON sf.fipscounty = fc.fipscounty
JOIN
    population pop ON fc.fipscounty = pop.fipscounty
WHERE
    fc.state = 'TN' AND d.opioid_drug_flag = 'Y'
GROUP BY
    fc.county, pop.population
ORDER BY;
'''

            with engine.connect() as connection:
tn_county = pd.read_sql(text(query), con = connection)
tn_county.head()

IndentationError: unexpected indent (3860521109.py, line 41)

In [108]:
tn_county

NameError: name 'tn_county' is not defined

In [113]:
query = '''
SELECT 
    pr.npi
    , pr.nppes_provider_last_org_name
    , pr.nppes_provider_first_name
    , pr.specialty_description
    , SUM(p.total_claim_count) AS total_opioid_prescriptions
FROM prescriber AS pr
JOIN prescription AS p 
ON pr.npi = p.npi
JOIN drug AS d 
ON p.drug_name = d.drug_name
WHERE pr.nppes_provider_state = 'TN' AND d.opioid_drug_flag = 'Y'
GROUP BY pr.npi, pr.nppes_provider_last_org_name, pr.nppes_provider_first_name, pr.specialty_description
ORDER BY total_opioid_prescriptions DESC
LIMIT 10;
'''




with engine.connect() as connection:
opioid_prescribers_tn = pd.read_sql(text(query), con = connection)
opioid_prescribers_tn.head()

IndentationError: expected an indented block after 'with' statement on line 22 (3319296071.py, line 23)

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python