In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [4]:
database_name = 'prescribers'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [6]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [8]:
import pandas as pd

First, let's write a meaningful query.

In [14]:
query = 'SELECT * FROM fips_county'

Now, bring it all together using the following syntax.

In [16]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [47]:
query = '''
select column_name,data_type from information_schema.columns where table_name = 'Prescriber';'''

with engine.connect() as connection:
    result = connection.execute(text(query))

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python